# ===== Gradle =====
.gradle/
.gradle-user/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# ===== IDE =====
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs & temp =====
*.log
*.tmp
*.lock
*.bin

# ===== Artifacts =====
**/*.jar
**/*.war
**/*.ear
**/libs/
**/distributions/

# ===== Spring Boot =====
application-local.yml
application-dev.yml

# ===== Test / coverage =====
/out/
target/

# ===== Others =====
file-system.probe

*.env
